# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Dependencies/glew/lib/glew32s.lib
!Dependencies/glew/lib/glew32.lib
!Dependencies/SDL/libx86/SDL2.lib
!Dependencies/SDL/libx86/SDL2main.lib
!Dependencies/MathGeoLib/lib/Release/MathGeoLib.lib
!Dependencies/MathGeoLib/lib/Deb/MathGeoLib.lib
!Dependencies/Assimp/lib/assimp-vc142-mt.lib
!Dependencies/PhysFS/lib/physfs.lib
!Dependencies/Optick/lib/OptickCore.lib
!Dependencies/DevIL/lib/DevIL.lib
!Dependencies/DevIL/lib/ILU.lib
!Dependencies/DevIL/lib/ILUT.lib
!Dependencies/Wwise/lib/Deb/AkSoundEngine.lib
!Dependencies/Wwise/lib/Deb/AkMusicEngine.lib
!Dependencies/Wwise/lib/Deb/AkMemoryMgr.lib
!Dependencies/Wwise/lib/Deb/AkStreamMgr.lib
!Dependencies/Wwise/lib/Deb/AkSpatialAudio.lib
!Dependencies/Wwise/lib/Deb/CommunicationCentral.lib
!Dependencies/Wwise/lib/Deb/AkRoomVerbFX.lib
!Dependencies/Wwise/lib/Release/AkSoundEngine.lib
!Dependencies/Wwise/lib/Release/AkMusicEngine.lib
!Dependencies/Wwise/lib/Release/AkMemoryMgr.lib
!Dependencies/Wwise/lib/Release/AkStreamMgr.lib
!Dependencies/Wwise/lib/Release/AkSpatialAudio.lib
!Dependencies/Wwise/lib/Release/AkRoomVerbFX.lib
!Dependencies/mono/libx86/libmono-static-boehm.lib
!Dependencies/mono/libx86/libmono-static-sgen.lib
!Dependencies/mono/libx86/mono-2.0-boehm.lib
!Dependencies/mono/libx86/mono-2.0-sgen.lib
!Dependencies/mono/libx86/MonoPosixHelperm.lib
!Dependencies/Bullet/libx86/BulletCollision.lib
!Dependencies/Bullet/libx86/BulletCollision_debug.lib
!Dependencies/Bullet/libx86/BulletDynamics.lib
!Dependencies/Bullet/libx86/BulletDynamics_debug.lib
!Dependencies/Bullet/libx86/LinearMath.lib
!Dependencies/Bullet/libx86/LinearMath_debug.lib
!Dependencies/freetype-2.10.0/lib/freetype.lib

# Executables
*.exe
!Dependencies/Optick/Optick.exe
!Output/mono-runtime/MSBuild/MSBuild.exe
!Output/mono-runtime/MSBuild/MSBuildTaskHost.exe
!Output/mono-runtime/MSBuild/Roslyn/csc.exe
!Output/mono-runtime/MSBuild/Roslyn/csi.exe
!Output/mono-runtime/MSBuild/Roslyn/vbc.exe
!Output/mono-runtime/MSBuild/Roslyn/VBCSCompiler.exe
*.out
*.app

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
*.obj
*.pdb
*.aps
# *.user
# *.vcproj
# *.vcxproj*
# *.sln
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
.vs

[Ll]ibrary/
[Bb]uild
[Bb]in
[Dd]ebug/
*.sbr
*.sdf
obj/
[R]elease/
_ReSharper*/
[Tt]est[Rr]esult*
ipch/
*.opensdf
*.db
*.opendb